.tile {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: white;
    
}
.tileContainer {
    display: flex;
    margin: 20px;
    
    
}
.blue{
    background-color: black;
}
body{
    background-color: aqua;
}
ul{
    list-style: none;
}
.container{
    display: flex;
}